@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
/*HERE'S HEADER*/
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.flex-container {
  display: flex;
  padding: 80px;
  margin: 110px;
  position: relative;
  right:180px;
}
.img-circle {
  border-radius: 50%;
  display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
            position: left;

}